tr, td {
	width: 65px;
	height: 65px;
}
table {
	border-collapse: collapse;
	margin: 20px auto;
}

tr:nth-child(odd) td:nth-child(even),  // строки нечетные + ячейки четные
tr:nth-child(even) td:nth-child(odd) { // строки четные + ячейки нечетные
	background: black;  
}

tr:first-child td:nth-child(even),                     // первые + четные верх
tr:first-child td:nth-child(odd),                      // первые + нечетные верх

tr:nth-child(even) td:first-child,                    // четные + первые лево
tr:nth-child(odd) td:first-child,                     // нечетные + первые лево

tr:last-child td:nth-child(even),                     // последние + четные низ
tr:last-child td:nth-child(odd),                      // последние + нечетные низ

tr:nth-child(even) td:last-child,                     // четные + последние право
tr:nth-child(odd) td:last-child                       // нечетные + последние право

{
	background: green;
	width: 20px;
	height: 20px;
	
}

tr:first-child, tr:last-child // первые верх // последние низ
	{
	height: 20px;
}

tr:nth-child(2) td:nth-child(2) {	
	background: url(../img/ladya.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(9) {
	background: black url(../img/ladya-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(3) {
	background: black url(../img/slon-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(8) {
	background: url(../img/slon.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(4) {
	background: url(../img/kon.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(5) {
	background: black url(../img/kon-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(6){
	background: url(../img/korol.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(2) td:nth-child(7) {
	background: black url(../img/koroleva-b.png) center no-repeat;
	background-size: contain;
}


tr:nth-child(3) td:nth-child(3),
tr:nth-child(3) td:nth-child(5),
tr:nth-child(3) td:nth-child(7),
tr:nth-child(3) td:nth-child(9) {
	background: url(../img/peshka.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(3) td:nth-child(2),
tr:nth-child(3) td:nth-child(4),
tr:nth-child(3) td:nth-child(6),
tr:nth-child(3) td:nth-child(8) {
	background: black url(../img/peshka-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(2) {
	background: black url(../img/ladya-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(9) {
	background: url(../img/ladya.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(3) {
	background: url(../img/slon.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(8) {
	background: black url(../img/slon-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(4) {
	background: black url(../img/kon-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(5) {
	background: url(../img/kon.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(6) {
	background: black url(../img/korol-b.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(9) td:nth-child(7) {
	background: url(../img/koroleva.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(8) td:nth-child(2),
tr:nth-child(8) td:nth-child(4),
tr:nth-child(8) td:nth-child(6),
tr:nth-child(8) td:nth-child(8), {
	background: url(../img/peshka.png) center no-repeat;
	background-size: contain;
}

tr:nth-child(8) td:nth-child(3),
tr:nth-child(8) td:nth-child(5),
tr:nth-child(8) td:nth-child(7),
tr:nth-child(8) td:nth-child(9) {
	background: black url(../img/peshka-b.png) center no-repeat;
	background-size: contain;
}

.wrapper {}

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.shess {

	// .shess__container
	&__container {}

	// .shess__chess-board
	&__chess-board {
	}
}
















